In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
with open('funcionarios.json') as file:
    data = json.load(file)

df_dados_funcionario = pd.DataFrame.from_dict(data['funcionarios'])
df_area_funcionario = pd.DataFrame.from_dict(data['areas'])

In [3]:
# Unindo os DataFrames
df = pd.merge(df_dados_funcionario, df_area_funcionario, left_on="area", right_on="codigo")

In [4]:
df

   area  id      nome_x  salario sobrenome codigo                       nome_y
0    SM   0     Marcelo   3200.0     Silva     SM    Gerenciamento de Software
1    SM   3    Bernardo   3700.0     Costa     SM    Gerenciamento de Software
2    UD   1  Washington   2700.0     Ramos     UD            Designer de UI/UX
3    UD   6     Letícia   2450.0    Farias     UD            Designer de UI/UX
4    UD   8     Marcelo   2550.0    Farias     UD            Designer de UI/UX
5    SD   2      Sergio   2450.0  Pinheiro     SD  Desenvolvimento de Software
6    SD   4   Cleverton   2750.0    Farias     SD  Desenvolvimento de Software
7    SD   5      Abraão   2550.0    Campos     SD  Desenvolvimento de Software
8    SD   7    Fernando   2450.0     Ramos     SD  Desenvolvimento de Software
9    SD   9       Fabio   2750.0     Souza     SD  Desenvolvimento de Software
10   SD  10   Clederson   2500.0  Oliveira     SD  Desenvolvimento de Software

In [5]:
# Quem mais recebe na empresa
def answer_one():
    funcionario = df[df['salario'] == df['salario'].max()]
    for i in funcionario.values:
        print(f"global_max|{i[2]} {i[4]}|{i[3]:.2f}")
answer_one()

global_max|Bernardo Costa|3700.00

In [6]:
# Quem menos recebe na empresa
def answer_two():
    funcionario = df[df['salario'] == df['salario'].min()]
    for i in funcionario.values:
        print (f"global_min|{i[2]} {i[4]}|{i[3]:.2f}")
answer_two()

global_min|Letícia Farias|2450.00
global_min|Sergio Pinheiro|2450.00
global_min|Fernando Ramos|2450.00

In [7]:
# Média salarial da empresa
def answer_three():
    media = df['salario'].mean()
    print(f"global_avg|{media:.2f}")
answer_three()

global_avg|2731.82

In [8]:
# Quem mais recebe em cada área
def answer_four():
    area = df.groupby('area').apply(lambda x: x[x['salario'] == x['salario'].max()])
    for i in area.values:
        print(f"area_max|{i[6]}|{i[2]} {i[4]}|{i[3]:.2f}")
answer_four()

area_max|Desenvolvimento de Software|Cleverton Farias|2750.00
area_max|Desenvolvimento de Software|Fabio Souza|2750.00
area_max|Gerenciamento de Software|Bernardo Costa|3700.00
area_max|Designer de UI/UX|Washington Ramos|2700.00

In [9]:
# Quem menos recebe em cada área
def answer_five():
    area = df.groupby('area').apply(lambda x: x[x['salario'] == x['salario'].min()])
    for i in area.values:
        print(f"area_min|{i[6]}|{i[2]} {i[4]}|{i[3]:.2f}")
answer_five()

area_min|Desenvolvimento de Software|Sergio Pinheiro|2450.00
area_min|Desenvolvimento de Software|Fernando Ramos|2450.00
area_min|Gerenciamento de Software|Marcelo Silva|3200.00
area_min|Designer de UI/UX|Letícia Farias|2450.00

In [10]:
# Média salarial de cada área 
def answer_six():
    area_media = df.groupby(['nome_y'], as_index=False)['salario'].mean().round({'salario': 2})
    for i,item in area_media.values:
        print(f"area_avg|{i}|{item:.2f}")
answer_six()

area_avg|Desenvolvimento de Software|2575.00
area_avg|Designer de UI/UX|2566.67
area_avg|Gerenciamento de Software|3450.00

In [11]:
# Área(s) com o maior número de funcionários
def answer_seven():
    funcao = ['count']
    numero_funcionarios_area = df.groupby(['nome_y'], as_index=False)[['nome_y']].agg(funcao).apply(max,axis=1)
    valor = numero_funcionarios_area.reset_index()
    print(f"most_employees|{valor.loc[0, 'nome_y']}|{valor.loc[0, 0]}")
answer_seven()

most_employees|Desenvolvimento de Software|6

In [12]:
# Área(s) com o menor número de funcionários
def answer_eight():
    funcao = ['count']
    numero_funcionarios_area = df.groupby(['nome_y'], as_index=False)[['nome_y']].agg(funcao).apply(min,axis=1)
    valor = numero_funcionarios_area.reset_index()
    print(f"least_employees|{valor.loc[2, 'nome_y']}|{valor.loc[2, 0]}")
answer_eight()

least_employees|Gerenciamento de Software|2

In [13]:
# Maiores salários para funcionários com o mesmo sobrenome
def answer_nine():
    salarios = df.groupby('sobrenome').filter(lambda group: len(group) > 1).copy()
    maiores_salarios = salarios.groupby('area').apply(lambda x: x[x['salario'] == x['salario'].max()])
    print(f"last_name_max|{maiores_salarios.iloc[0,4]}|{maiores_salarios.iloc[0, 2]} {maiores_salarios.iloc[0, 4]}|{maiores_salarios.iloc[0, 3]:.2f}")
    print(f"last_name_max|{maiores_salarios.iloc[1,4]}|{maiores_salarios.iloc[1, 2]} {maiores_salarios.iloc[1, 4]}|{maiores_salarios.iloc[1, 3]:.2f}")
answer_nine()

last_name_max|Farias|Cleverton Farias|2750.00
last_name_max|Ramos|Washington Ramos|2700.00