# Tratamento de nulos

- Identificando nulos e fazendo o tratamento do dataset

In [ ]:
import numpy as np
import pandas as pd
  
data = {'Nome':['Andre', 'Bruno', 'Maria', 'Natalia' ,'Thiago', 'Vanessa'], 
        'Idade':[20, 24, np.nan, 19, np.nan, 20],
        'UF':['SP', 'MG', np.nan, 'MG', 'BA', np.nan]} 
df = pd.DataFrame(data) 
df

In [ ]:
df.isna()

- contagem de nulo por coluna

In [ ]:
df.isna().sum()

- contagem de nao-nulo por coluna

In [ ]:
df.info()

- traz todas as linhas em que UF é nulo

In [ ]:
df[pd.isna(df['UF'])]

- traz todas as linhas em que Idade é nula

In [ ]:
df[pd.isna(df['Idade'])]

- preenche os nulo com 0

In [ ]:
df.fillna(0) 
df

Se eu quisesse preencher o nulo com 0 em definitivo (alterar dataset original), teria que usar o parâmetro INPLACE. Desta forma:
````
df.fillna(0, inplace=True)
````
ou simplesmente atribuir o objeto fillna ao dataset original:
````	
df = df.fillna(0)
````

- preenchendo o nulo com a media

In [ ]:

df['Idade'].fillna(df['Idade'].mean())

- preenchendo o nulo com a mediana
- veja que continuamos sem alterar o dataset original, por enquanto

In [ ]:

df['Idade'].fillna(df['Idade'].median())
df

- novamente, para alterar dataset original, use df.fillna(valores, inplace=True)

In [ ]:
valores = {'Idade': df['Idade'].mean(), 'UF': 'N/A'}
df.fillna(valores)

- exclui todas as linhas que tem alguma coluna nulo
- novamente, se nao usar o inplace, o dataset original nao é alterado. Veja que df segue inalterado:

In [ ]:
df.dropna() 
df

- exclui só as linhas que tem idade nulo, nao importa outras colunas

In [ ]:
df.dropna(subset=['Idade'])